/*GERAL*/

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a.link_a{
	color: #f0ad4e;
}

a.link_a:hover{
	text-decoration: underline;
}

h2, h5.contato{
	color: #fff;
	text-align: center;
}

/*IMAGENS*/

img.imagemPrincipal{
	width: 100%;
	margin: 0;
	padding: 0;
}

img.imagemPrincipal2{
	display: none;
	width: 100%;
}

img#computador {
    display: block;
    position: relative;
    float: right;
    width: 85.5807%;
    margin-top:-10%;
    z-index: -1;
}

div#textos{
    margin: 2% 30%;
}

div#conteudo{
    margin: 1% 30%;
}

p#t1{
	color: #f0ad4e;        
}

p#t2{
	font-size: 18px;
	color: #265a88;
	font-weight: bold;
}

.btn {
    background-color: #f1cb00;
    color: #002a53;
    font-weight: bold;
    font-size: 0.9em;
    width: 31.2416%;
    float: left;
    margin-top: 1%;
    z-index: 1;
}

/*MEDIA QUERIES*/

@media all and (max-width: 1749px){
	div#textos{
		width: 40%;
	}
        div#conteudo{
		width: 40%;
	}
}

@media all and (max-width: 1600px){
        input.btn{
            font-size: 0.8em;
        }
}

@media all and (max-width: 1500px){
	div#textos{
		width: 50%;
		margin: 2% 25%;
	}
        div#conteudo{
		width: 50%;
		margin: 2% 25%;
	}
}

@media all and (max-width: 1300px){
	div#textos{
		margin: 2% 20%;
	}
        div#conteudo{
		margin: 2% 20%;
	}
}

@media all and (max-width: 1220px){
        input.btn{
            font-size: 0.7em;
        }
}


@media all and (max-width: 1181px){
	div#textos{
		width: 75%;
		margin: 2% 15%;
	}
        div#conteudo{
		width: 75%;
		margin: 5% 15%;
	}
}

@media all and (max-width: 954px){
	div#textos{
		width: 80%;
	}
        div#conteudo{
		width: 80%;
	}
}

@media all and (max-width: 898px){
	div#textos{
		width: 70%;
	}
        div#conteudo{
		width: 70%;
	}
        img#computador {
            width: 82%;
        }
        .btn {
            width: 34%;
            font-size: 0.8em;
        }
}

@media all and (max-width: 830px){
    img#computador {
            width: 77%;
    }
    .btn {
            width: 40%;
            font-size: 0.8em;
        }
}

@media all and (max-width: 700px){
    img#computador {
            margin-top: 1%;
            width: 85%;
            display: block;
            float: none;
            position: relative;
            margin: 0 auto;
            padding-top: 15px;
    }
    .btn {
            width: 70%;
            display: block;
            float: none;
            position: relative;
            margin: 0 auto;
            font-size: 0.8em;
        }

    a#plano{
        text-decoration: none;
    }

    a#plano:hover{
        text-decoration: none;
    }
}


@media all and (max-width: 450px){
	img.imagemPrincipal{
		display: none;
	}

	img.imagemPrincipal2{
		display: block;
	}
        
        img#computador {
            width: 100%;
        }
}

@media all and (max-width: 390px){
    .btn{
        width: 90%;
    }
}

@media all and (max-width: 310px){
    .btn{
        width: 100%;
    }
}

@media all and (max-width: 290px){
    a#plano{
        font-size: 12px;
    }
}

@media all and (max-width: 250px){
    a#plano{
        font-size: 10px;
    }
    .btn{
        width: 110%;
    }
}