/*GERAL*/

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a.link_a{
	color: #f0ad4e;
}

a.link_a:hover{
	text-decoration: underline;
}

/*IMAGENS*/
img#divisao2{
	display: none;
}

img#imagemPrincipal{
	width: 100%;
	margin: 0;
	padding: 0;
}

img.oferta{
	width: 80px;
	height: 80px;
	z-index: 9999;
}

img.oferta100{
	width: 100px;
	height: 80px;
	z-index: 9999;
}

img#divisao{
	position: relative;
	display: block;
	float: none;
	margin: 0 auto;
	width: 36.04%
}



img#imagemPrincipal2{
	display: none;
	width: 100%;
}

img#ofertas{
	width: 100%;
	padding-right: 20px;
}

/*DIV'S*/

div.box2{
	display: none;
}

div.row{
	width:100%;
	padding-top:5px;
	margin-left:-35px;

}

div.contrate{
	background-color:#5e5e5e;
	float:none;
	height: 70px;
}

div.linha1{
	width:50%;
	display:inline-flex;
	position: absolute;
}

div.linha2{
	position: absolute;
	left: 44%;
	width:50%;
	display:inline-flex;
}

div.linha3 {
	position: absolute;
	left: 56%;
	width: 22%;
	display:inline-flex
}


div#textos{
	margin: 2% 30%;
}


div.div2{
	background: #002B6F;
	height: 630px;
	max-width: 100%;
}

div.div3{
	background: #fff;
	height: 100px;
}

div.conteudo{
	display: inline-flex;
	width: 22%;
	margin: 1.5% 32%
}

div.col-xs-2 {
	width: 20%;
}

div.mega100{
	left: 43%;
}

div.ofertas{
	width: 70%;
	border-right: 3px solid #fff;
}

div.informacoes{
	width: 60%;
}

div.especial{
	width: 35%;
}

div.links{
	margin-top: -35%;
	margin-left: 17%;
}

/*PARÁGRAFOS*/

p.contratar{
	padding-top: 25px;
	margin:0;
	padding-left:25px;
}

p#t1{
	color: #f0ad4e;
}

p#t2{
	font-size: 18px;
	color: #265a88;
	font-weight: bold;
}

p.texto{
	font-size: 18px;
	color: #fff;
	padding: 40px 0 20px 20px;
}

/*LINK*/
a.contrato{
	padding-top: 8px;
	color: #fff;
	margin:0;
	padding-right:10px;
	cursor: pointer;
}

a.contrato:hover{
	text-decoration: none;
	color: #fff;
}

.col-xs-8{
	 display: none;
 }

a.ofertaEspecial{
	font-size: 18px;
	color: #FFB300;
	cursor: pointer;
}

a.ofertaEspecial:hover{
	color: #FFB300;
	text-decoration: none;
}

a.maior{
	font-size: 37px;
}

/*MEDIA QUERIES*/

@media all and (max-width: 1749px){
	div#textos{
		width: 70%;
	}

	div.div2{
		height: 610px;
	}
}

@media all and (max-width: 1680px){
	div.conteudo{
		margin-top: 25px;
	}

	div.div2{
		height: 580px;
	}

	div.links{
		margin-top: -32%;
	}
}

@media all and (max-width: 1500px){
	div#textos{
		width: 60%;
		margin: 2% 25%;
	}

	div.linha1{
		left: 26%;
	}

	div.linha2{
		left: 40.5%;
		width: 58%;
	}

	div.linha3{
		left: 55%;
		width: 20%;
	}

	div.mega100{
		left: 39.5%;
	}

	div.col-xs-2{
		width: 20%;
	}

	img#divisao{
		width: 45%;
		left: -2%;
	}

	.col-xs-6{
		display: none;
	}

	.col-xs-8{
		display: block;
	}
	div.div2{
		height: 580px;
	}

	img#ofertas{
		width: 100%;
	}

	div.ofertas{
		width: 90%;
		height: 280px;
	}

	div.informacoes{
		width: 70%;
	}

	p.texto{
		padding: 15px 0 20px 20px;;
	}

	div.especial {
		width: 40%;
		margin-left: 25%;
	}
}

@media all and (max-width: 1300px){
	div#textos{
		margin: 2% 20%;
	}
	div.div2{
		height: 560px;
	}
}

@media all and (max-width: 1250px){
	div.contrate{
		width: 65%;
	}

	div.col-xs-2{
		width: 26%;
	}

	div.linha1{
		left: 20%;
	}

	div.linha2{
		left: 39%;
	}

	div.linha3{
		left: 58%;
	}

	div.mega100{
		left: 38%;
	}

	img#divisao{
		width: 58%;
		left: -1%;
		margin-top: 8px;
	}

	div.div2{
		height: 570px;
	}
}

@media all and (max-width: 1181px){
	div#textos{
		width: 75%;
		margin: 2% 15%;
	}

	div.div2{
		height: 580px;
	}

	div.especial {
		width: 50%;
	}

}

@media all and (max-width: 1010px){
	div.especial {
		width: 60%;
		margin-left: 19%;
	}
}

@media all and (max-width: 989px) {
	div.linha1{
		left: 16%;
	}

	div.linha2{
		left: 38%;
	}

	div.linha3{
		left: 60%;
		width: 31%;
	}

	div.mega100{
		left: 37%;
	}

	div.col-xs-2{
		width: 31%;
	}

	img#divisao{
		width: 67%;
		margin-top: 10px;
	}
}

@media all and (max-width: 954px){
	div#textos{
		width: 80%;
	}

	div.contrate{
		width: 68%;
	}

	div.linha1{
		left: 14%;
	}
	div.linha2{
		left: 38%;
	}

	div.linha3{
		left: 62%;
	}

	div.mega100{
		left: 36%;
	}

	div.col-xs-2{
		width: 35%;
	}

	img#divisao{
		width: 73.5%;
		left: 0;
	}
}

@media all and (max-width: 898px){
	div#textos{
		width: 70%;
	}
}

@media all and (max-width: 850px){
	div.especial {
		width: 70%;
		margin-left: 15%;
	}
}

@media all and (max-width: 750px){
	div.contrate{
		width: 78%;
	}

	div.linha1{
		left: 8%;
	}

	div.linha2{
		left: 36%;
	}

	div.linha3{
		left: 63%;
	}

	div.mega100{
		left: 33%;
	}

	div.col-xs-2{
		width: 39%;
	}

	img#divisao{
		width: 86%;
		margin-top: 12px;
	}

	div.div2{
		height: 560px;
	}

	div.especial {
		width: 85%;
		margin-left: 7%;
	}
}

@media all and (max-width: 640px){

	div.div2{
		height: 760px;
	}

	div.box1{
		display: none;
	}

	div.box2{
		display: block;
	}

	img#divisao{
		width: 65%;
	}

	img#divisao2{
		display: block;
		width: 215%;
		height: 3px;
		margin-top:65%;
		margin-left: -45%;
	}

	div.conteudo3{
		margin-top: 90%;
	}

	div.linha1{
		left: 20%;
	}

	div.linha2{
		left: 50%;
		width: 50%;
	}

	div.row{
		width: 60%;
	}

	div.especial {
		width: 100%;
		margin-left: 1%;
	}

}

@media all and (max-width: 580px){
	div.linha1{
		left: 10%;
	}

	div.conteudo3{
		margin-top: 100%;
	}

	div.row{
		width: 83%;
	}

	img#divisao{
		width: 80%;
	}

	img#divisao2{
		width: 275%;
		margin-left: -80%;
		margin-top: 68%;
	}
}

@media all and (max-width: 550px){
	div.links{
		margin-left: 15%;
	}
}

@media all and (max-width: 525px) {
	div.contrate {
		width: 90%;
	}

	img#divisao {
		width: 94%;
	}

	img#divisao2 {
		width: 310%;
		margin-top: 80%;
		margin-left: -92%;
	}

	div.conteudo3 {
		margin-top: 110%;
	}

	div.linha1 {
		left: 5%;
	}

	div.linha2 {
		left: 49%;
	}

	a.ofertaEspecial{
		font-size: 16px;
	}

	a.maior{
		font-size: 33px;
	}

	p.texto{
		font-size: 16px;
	}

	div.ofertas{
		height: 250px;
	}

	div.div2{
		height: 710px;
	}
}



@media all and (max-width: 450px) {
	img.oferta {
		width: 70px;
		height: 70px;
	}

	div.contrate{
		height: 60px;
	}

	p.contratar{
		padding-top: 20px;
	}

	div.conteudo2 {
		margin-top: -95%;
	}

	div.div2 {
		height: 680px;
	}

	img#imagemPrincipal {
		display: none;
	}

	img#imagemPrincipal2 {
		display: block;
	}

	img#divisao2 {
		margin-top: 95%;
	}

	img#divisao {
		margin-top: -1%;
		margin-bottom: 4%;
	}

	div.conteudo3 {
		margin-top: 130%;
	}

	div.linha1{
		left: 5%;
	}

	div.linha2{
		left: 49%;
	}

	div.links{
		margin-left: 12%;
	}

	a.ofertaEspecial{
		font-size: 18px;
	}

	a.maior{
		font-size: 37px;
	}

	div.informacoes{
		width: 80%;
		position: relative;
		display: block;
		float: none;
		margin: 0 auto;
		padding: 0;
	}
}

@media all and (max-width: 410px){
	div.div2{
		height: 860px;
	}

	div.especial{
		display: block;
	}

	div.ofertas{
		border-right: 0;
		border-bottom: 3px solid #fff;
		width: 100%;
		margin: 0;
		height: 285px;
	}

	img#ofertas {
		width: 75%;
		display: block;
		padding-right: 0;
		float: none;
		margin: auto;
	}

	div.links{
		margin-top: -27%;
		margin-left: 23%;
	}
}

@media all and (max-width: 390px) {
	div.conteudo3 {
		margin-top: 140%;
	}

	img#divisao2 {
		margin-top: 100%;
		margin-left: -100%;
		width: 330%;
	}

	img#divisao {
		width: 97%;
	}
	div.linha1{
		left: 4%;
	}

	div.linha2{
		left: 48%;
	}
}

@media all and (max-width: 375px){
	img.oferta{
		width: 60px;
		height: 60px;
	}

	div.contrate{
		height: 50px;
	}

	div.linha2{
		left: 50%;
	}

	div.row{
		width: 88%;
	}

	p.contratar{
		padding-top: 15px;
	}

	img#divisao{
		margin-top: -10px;
	}
}

@media all and (max-width: 360px) {
	a.ofertaEspecial{
		font-size: 16px;
	}

	a.maior{
		font-size: 35px;
	}

	div.ofertas{
		height: 260px;
	}
}

@media all and (max-width: 330px){
	p.contratar{
		font-size: 12px;
		padding-top: 17px;
	}

	img#divisao{
		margin-top: -15px;
	}

	div.linha100{
		margin-top: -8%;
	}

	a.ofertaEspecial{
		font-size: 14px;
	}

	a.maior{
		font-size: 33px;
	}

	div.ofertas{
		height: 240px;
	}
}

@media all and (max-width: 300px){
	p.contratar, .valor{
		font-size: 10px;
	}

	div.conteudo3 {
		margin-top: 150%;
	}

	img#divisao2 {
		margin-top: 110%;
	}

}