@charset "utf-8";
div.container{
	width:100%;
	height:100px;
	margin:0;
	padding:0;
}

ol#car-img{
	width:50%;
	left:80%;
}

ol.carousel-indicators li{
	width:15px;
	height:15px;
	background-color: #ffb900;
	border: 4px solid #ffb900;
}

ol#car-img li.active{
    width:15px;
	height:15px;
}