textarea {
    resize: none;
}

/*IMG'S*/

img#imagemContato{
    width: 100%;
}

img#imagemContato2{
    width: 100%;
    display: none;
}

div#boxContato{
    margin: 2% 30%;
}

div.container-fluid{
    margin: 0;
    padding: 0;
}

p#text2{
    font-size: 18px;
    color: #265a88;
    font-weight: bold;
}

p#text1{
    color:  #f0ad4e;
    margin: 2% 28%;
}

img#bg-baixoContato{
    width: 100%;
}

input.form-control{
    border: solid 3px #6F6F6F;
}

textarea.form-control{
    border: solid 3px #6F6F6F;
}

input.btn-default{
    border: solid 3px #6F6F6F;

}

img#tablet{
    z-index: 9999;
    margin: -27% 1% 2% 59%;
    width: 23%;
}

img#tablet2{
    display: none;
    width: 80%;
    position: relative;
    float: none;
    margin: 0 auto;

}

div.endereco{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid 5px #fff;
    border-right: none;
    margin: -25% 35% 5% 34%;
    padding: 20px;
}

p#capital{
    font-size: 20px;
    font-weight: bold;
    color: #FFB100;
}

div.box{
    display: inline-flex;
}

p.topico{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

p.dado{
    color: #fff;
    font-size: 16px;

}

div#cepEbairro{
    display: inline-flex;
}

div#atendimento1{
    width: 80%;
}

div#atendimento2{
    width: 80%;
}

img#iconContato{
    position: relative;
    display: block;
    float: none;
    margin: 0 47.5% auto;
}

p#centAtend{
    text-align: center;
    font-weight: bold;
    color: #FFB100;
    font-size: 16px;
}

p#fone{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #002C70;
}

img#bg-bc{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 20px;
}

img#bg-baixo{
    display: none;
}

div.boxInformacao{
    display: none;
}

div.boxTudo{
    width: 100%;
}

img#retangulo{
    position: relative;
    width: 30%;
    margin: -24% 29.7% auto;
}

img#retangulo2{
    display: none;
    width: 40%;
    margin: -16% 29.7% auto;
}

div#atendimentos{
    position:relative;
    margin-top: -10%;

}

div#mapa{
    height: 510px;
    position: relative;
    width: 17.5%;
    float: right;
    border:0;
    right: 20.9%;
    margin-top: -28%;

}

iframe#mapa{
    width: 100%;
    height: 510px;
    margin-top: 21%;
}

img#tabletsm{
    display: none;
    z-index: 9999;
    margin: -27% 1% 2% 59%;
    width: 23%;
}

/*MEDIA'S QUERIES*/

@media all and (max-width: 1900px){
    iframe#mapa{
        height: 490px;
    }

    div#mapa{
        height: 490px;
    }
}

@media all and (max-width: 1840px){
    iframe#mapa{
        height: 480px;
    }
    div#mapa{
        height: 480px;
    }
}

@media all and (max-width: 1790px){
    iframe#mapa{
        height: 460px;
    }
    div#mapa{
        height: 460px;
    }
}

@media all and (max-width: 1700px){
    iframe#mapa{
        height: 440px;
    }
    div#mapa{
        height: 440px;
    }
}

@media all and (max-width: 1650px){
    iframe#mapa{
        height: 420px;
    }
    div#mapa{
        height: 420px;
    }
}

@media all and (max-width: 1550px){
    iframe#mapa{
        height: 400px;
    }
    div#mapa{
        height: 400px;
    }
}

@media all and (max-width: 1500px){
    iframe#mapa{
        height: 385px;
    }
    div#mapa{
        height: 385px;
    }
}

@media all and (max-width: 1450px){
    iframe#mapa{
        height: 375px;
    }
    div#mapa{
        height: 375px;
    }
}

@media all and (max-width: 1400px){
    iframe#mapa{
        height: 355px;
    }
    div#mapa{
        height: 355px;
    }
}

@media all and (max-width: 1300px){
    iframe#mapa{
        height: 335px;
    }
    div#mapa{
        height: 335px;
    }
}

@media all and (max-width: 1200px){
    iframe#mapa{
        display: none;
    }
    div#mapa{
        display: none;
    }

    img#tablet{
        display: none;
    }

    img#tabletsm{
        display: block;
    }
}

@media all and (max-width:1300px ){
    div.contato{
        margin-left: -15%;
    }

    div#atendimentos{
        margin-top: -11%;
    }

}

@media all and (max-width: 1000px){
    img#retangulo{
        width: 40%;
        margin: -24% 20% auto;

    }

    img#tablet{
        width: 30%;
        margin: -30% 1% 2% 59%;
    }

    div#atendimentos{
        margin-top: -12.5%;
    }
}

@media all and (max-width: 670px){
    img#tablet{
        display: none;
    }

    img#tabletsm{
        display: none;
    }

    img#tablet2{
        display: block;
        position: relative;
        top: -20%;
    }

    img#retangulo{
        display: none;
    }

    img#retangulo2{
        display: block;
        position: relative;
        float: none;
        width: 80%;
        margin-top: -98%;
        margin-bottom: -10%;
        right: 20%;
    }

    img#bg-baixoContato{
        height: 650px;

    }

    iframe#mapa{
        display: block;
        height: 290px;
        position: relative;
        z-index: 99999;
        width: 81.6%;
        left: -1%;
        margin: 63% 20% 1% auto;
    }

    div#mapa{
        display: block;
        height: 290px;
        position: relative;
        z-index: 99999;
        width: 81.5%;
        left: -1%;
    }

    div#atendimentos{
        width: 50%;
        display: block;
        position: relative;
        float: none;
        margin: 3% 23% auto;
    }

    div#atendimento2{
        margin-left: 10%;
    }
}

@media all and (max-width: 630px){
    iframe#mapa{
        height: 270px;
    }

    div#mapa{
        height: 270px;
    }
}

@media all and (max-width: 600px){
    iframe#mapa{
        height: 255px;
    }

    div#mapa{
        height: 255px;
    }
}

@media all and (max-width: 560px){
    iframe#mapa{
        height: 240px;
    }

    div#mapa{
        height: 240px;
    }
}

@media all and (max-width: 580px){
    img#bg-baixoContato{
        height: 570px;
    }

    div#atendimento2{
        width: 100%;
        margin-left: 1%;
    }

    div#boxContato{
        width: 50%;
    }
}

@media all and (max-width: 500px){
    img#bg-baixoContato{
        height: 480px;
    }

    iframe#mapa{
        height: 215px;
    }

    div#mapa{
        height: 215px;
    }
}

@media all and (max-width: 480px){
    iframe#mapa{
        height: 205px;
    }

    div#mapa{
        height: 205px;
    }
}

@media all and (max-width: 450px){
    img#imagemContato{
        display: none;
    }

    img#imagemContato2{
        display: block;
    }

    img#bg-baixoContato{
        height: 440px;
    }

    div#atendimento2{
        margin-left: 4%;
    }

    div#atendimentos{
        margin: 3% 22% auto;
    }
    iframe#mapa{
        display: none;
    }

    div#mapa{
        display: none;
    }

    img#tablet2{
        margin-top: 15%;
        cursor: pointer;
    }

}

@media all and (max-width: 400px){
    img#bg-baixoContato{
        height: 390px;
    }

    div#boxContato{
        width: 60%;
        margin-left: 110px;
    }

    img#bg-bc{
        padding-top: 60px;
    }
}