*{
    margin: 0;
    padding: 0;
}

.titulo_link-item_amarela-trsp{
	color:#FFFFFF;
}

.conteudo_link-item_amarela-trsp{
	color:#FFFFFF;
}

ol.carousel-indicators{
	margin-left: 78%;
	width: 80px;
}

h1,p {
	color: #00285b;
}

/*
    div amarela
    casso for adicionar elementos aumente o height da div#amarela
*/
div#amarela{
    width: 100%;
    background-color: #d8a91e;
    height: 643px;
}

/*Opções no meio da div Amarela*/
div#amarela-trsp{
    position: relative;
    /*border: 3px solid red;*/
    display: flex;
    height: 100%;
    width: 650px;
    left: 20%;
}

div#Cl1_amarela-trsp{
    position: relative;
    height: 100%;
    width: 45%;
    /*border: 2px solid green;*/

}

div#Cl2_amarela-trsp{
    position: relative;
    height: 100%;
    width: 50%;
    /*border: 2px solid green;*/
}

div#amarela-trsp div#separador{
    height: 100%;
    width: 5%;
    /*border: 2px solid deeppink;*/
}

a.link-item_amarela-trsp_up{
    position: absolute;
    height: 40%;
    width: 80%;
    /*border: 1px solid blue;*/
    color: #ffffff;
    top: 8%;
    left: 5%;
    cursor: pointer;
}

a.link-item_amarela-trsp_down{
    position: absolute;
    height: 40%;
    width: 90%;
    /*border: 1px solid blue;*/
    color: #ffffff;
    bottom: 8%;
    left: 5%;
    cursor: pointer;
}

h1.titulo_link-item_amarela-trsp{
    font-family: Arial, sans-serif;
    font-size: 18pt;
    font-weight: normal;
}

p.conteudo_link-item_amarela-trsp{
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: lighter;
}

/*Acesso Rapido*/
div#amarela div.acessoRapido{
    position: relative;
    display: table;
    left: 60%;
    height: 587px;
    width: 417px;
    background: no-repeat gray url("../Images/fundoGrid.gif");
    z-index: 10000;
    bottom: 625px;
}

img#imgAcessoRapido{
    position: absolute;
    right: -3px;
    top: 20px;
}

/*Botões*/
div#amarela div.acessoRapido div.botoes{
    position: relative;
    display: flex;
    margin-left: 25px;
    margin-top: 96px;
    width: 370px;
    height: 480px;
}

div#amarela div.acessoRapido div.botoes a.botao{
    display: inline-block;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background: linear-gradient(to bottom, #f2f2f2, #d1d3d1 180%) #ffffff;
    width: 124px;
    height: 157px;
}

div#amarela div.acessoRapido div.botoes a.botao:link{
    text-decoration: none;
    color: inherit;
}

div#coluna1{
    width: 176px;
    height: 476px !important;
	margin-left: -20px;
    margin-top: -15px;
}

div#coluna2{
    width: 177px;
    height: 477px !important;
	margin-left: -40px;
    margin-top: -15px;
}

div#coluna3{
    width: 177px;
    height: 477px !important;
	margin-left: -40px;
    margin-top: -15px;
	position:absolute;
}


img.botoes_icon{
    position: relative;
    left: 18%;
    top: 18px;
}

div#amarela div.acessoRapido div.botoes a.botao h3{
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 13pt;
    font-weight: lighter;
}

/*textos acesso rapido*/
h3#txt1{
    top: 5%;
    left: 24%;
}

h3#txt1 span{
    position: absolute;
    left: 4%;
}

h3#txt2{
    top: 5%;
    left: 10.5%;
}

h3#txt2 span{
    position: absolute;
    left: 16%;
}

h3#txt3{
    top: 5%;
    left: 30%;
}

h3#txt3 span{
    position: relative;
    left: 1%;
}

h3#txt4{
    top: 5%;
	left: 6%;
}

h3#txt4 span{
    position: absolute;
    left: 17%;
}

h3#txt5{
	top: 5%;
    left: 21%;
}

h3#txt5 span{
    position: absolute;
    left: 2%;
}

h3#txt6{
    top: 5%;
	left: 9%;   
}

h3#txt6 span{
    position: absolute;
    left: 22%;
}

h3#txt7{
	top: 5%;
    left: 9%;
}

h3#txt7 span{
    position: absolute;
    left: 2%;
}

h3#txt8{
    top: 5%;
	left: 9%;
}

h3#txt8 span{
    position: absolute;
    left: 3%;
}

h3#txt9{
    top: 5%;
	left: 9%;
}

h3#txt9 span{
    position: absolute;
    left: 7%;
}

/*Muito Mais Para Você*/
div#muitoPVc{
    position: relative;
    height: 500px;
    width: 100%;
    background: #ffffff url("../Images/fundoGridAzul.png") repeat-x;
}

h1#h1MuitoPVc{
    position: relative;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 18pt;
    font-weight: normal;
    color: #ffffff;
    top: 5%;
    left: 20%;
    margin: 0;
    width: 298px;
}

/*Podemos Lhe Ajudar?*/

div#podLheAjud{
    position: relative;
    height: 500px;
    width: 100%;
    background: #ffffff url("../Images/fundoGridAzul.png") repeat-x;
}

h1#h1podLheAjud{
    position: relative;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 18pt;
    font-weight: normal;
    color: #ffffff;
    top: 5%;
    left: 20%;
    margin: 0;
    width: 298px;
}

div#opcoes_muitoPVc{
    margin: 0;
    position: relative;
    display: flex;
    top: 12%;
    width: 100%;
    height: 77%;
	margin-left: -150px;
}

div#tv{
    position: relative;
    width: 260px;
    left: 28%;
    text-align: center;
}

div#tv img{
    position: initial;
    left: 26%;
}

div#game{
    position: relative;
    width: 260px;
    left: 30%;
    text-align: center;
}

div#game img{
    position: initial;
    left: 16%;
}

div#dispositivos{
    position: relative;
    width: 260px;
    left: 32%;
    text-align: center;
}

div#dispositivos img{
    position: initial;
    left: 16%;
}

div#musicas{
    position: relative;
    width: 260px;
    left: 36%;
	top: 8px;
    text-align: center;
}

div#musicas img{
    position: initial;
    left: 15%;
}

@media all and (min-width:1461px){
	
	#amarela-trsp-movel{
		display:none;
	}
	
	div#amarela-trsp-super-movel{
		display: none;
	}
	
	img#imgAcessoRapido-super-movel{
		display:none;
	}
	
	#img_movel{
		display: none;
	}
	
	div#amarela div.acessoRapido-super-movel{
		display:none;	
	}
}

@media all and (min-width: 1170px) and (max-width:1460px) {
	
	h1.titulo_link-item_amarela-trsp{
		font-size:15pt;
	}
	
	p.conteudo_link-item_amarela-trsp{
		font-size:12pt;
	}
	
	a.link-item_amarela-trsp_up{
		left: -35%;
	}
	
	a.link-item_amarela-trsp_down{
		left: -35%;
	}
	
	.imgSeparador{
		margin-left: -400%;
	}
	
	#amarela-trsp-movel{
		display:none;
	}
	
	div#amarela-trsp-super-movel{
		display: none;
	}
	
	img#imgAcessoRapido-super-movel{
		display:none;
	}
	
	div#opcoes_muitoPVc{
		margin-left: -305px;
	}
	
	h1#h1MuitoPVc{
		left: 11%;
	}
	
	h1#h1podLheAjud{
		left: 11%;
	}
		
	#image_duvidas1{
		margin-left: 13%;
	}
	
	#image_duvidas2{
		margin-left: 13%;
	}
	
	#img_movel{
		display: none;
	}
	
	div#amarela div.acessoRapido-super-movel{
		display:none;	
	}
}

@media all and (min-width: 980px) and (max-width:1169px) {
	
	h1.titulo_link-item_amarela-trsp{
		font-size:14pt;
	}
	
	p.conteudo_link-item_amarela-trsp{
		font-size:11pt;
	}
	
	a.link-item_amarela-trsp_up{
		left: -45%;
	}
	
	a.link-item_amarela-trsp_down{
		left: -45%;
	}
	
	#link-item_amarela-trsp3{
		margin-left: -50px;
	}
	
	#link-item_amarela-trsp4{
		margin-left: -50px;
	}
	
	.imgSeparador{
		margin-left: -700%;
	}
	
	div#amarela div.acessoRapido{
		left: 55%;		
	}
	
	#amarela-trsp-movel{
		display:none;
	}
	
	div#amarela-trsp-super-movel{
		display: none;
	}
	
	img#imgAcessoRapido-super-movel{
		display:none;
	}
	
	div#opcoes_muitoPVc{
		margin-left: 0px;
	}
	
	h1#h1MuitoPVc{
		left: 7%;
	}
	
	div#tv{
		position:absolute;
		margin-left: -120px;
	}
	
	div#dispositivos{
		margin-top: 300px;
		position:absolute;
		margin-left: -163px;
	}
	
	div#game{
		position:absolute;
		margin-left: 260px;
	}
	
	div#musicas{
		margin-top: 300px;
		position:absolute;
		margin-left: 200px;
	}
	
	h1#h1podLheAjud{
		left: 7%;
	}
		
	#image_duvidas1{
		margin-left: 9%;
	}
	
	#image_duvidas2{
		margin-left: 9%;
	}
	div#muitoPVc{
		height: 780px;
	}
	
	#img_movel{
		display: none;
	}
	
	div#amarela div.acessoRapido-super-movel{
		display:none;	
	}
}

@media all and (min-width: 910px) and (max-width:980px) {
	
	h1.titulo_link-item_amarela-trsp{
		font-size:14pt;
	}
	
	p.conteudo_link-item_amarela-trsp{
		font-size:11pt;
	}
	
	a.link-item_amarela-trsp_up{
		left: -55%;
	}
	
	a.link-item_amarela-trsp_down{
		left: -55%;
	}
	
	#link-item_amarela-trsp3{
		margin-left: -70px;
	}
	
	#link-item_amarela-trsp4{
		margin-left: -70px;
	}
	
	.imgSeparador{
		margin-left: -800%;
	}
	
	div#amarela div.acessoRapido{
		left: 50%;		
	}
	
	#amarela-trsp-movel{
		display:none;
	}
	
	div#amarela-trsp-super-movel{
		display: none;
	}
	
	img#imgAcessoRapido-super-movel{
		display:none;
	}
	
	div#opcoes_muitoPVc{
		margin-left: 0px;
	}
	
	h1#h1MuitoPVc{
		left: 7%;
	}
	
	div#tv{
		position:absolute;
		margin-left: -120px;
	}
	
	div#dispositivos{
		margin-top: 300px;
		position:absolute;
		margin-left: -163px;
	}
	
	div#game{
		position:absolute;
		margin-left: 260px;
	}
	
	div#musicas{
		margin-top: 300px;
		position:absolute;
		margin-left: 200px;
	}
	
	h1#h1podLheAjud{
		left: 7%;
	}
		
	#image_duvidas1{
		margin-left: 11%;
		width: 35%;
	}
	
	#image_duvidas2{
		margin-left: 11%;
		width: 33%;
	}
	div#muitoPVc{
		height: 780px;
	}
	
	ol.carousel-indicators{
		margin-left: 87%;
	}
	
	#img_movel{
		display: none;
	}
	
	div#amarela div.acessoRapido-super-movel{
		display:none;	
	}
}

@media all and (min-width: 800px) and (max-width:909px) {
	
	h1.titulo_link-item_amarela-trsp{
		font-size:12pt;
	}
	
	p.conteudo_link-item_amarela-trsp{
		display: none;
	}
	
	a.link-item_amarela-trsp_up{
		left: -80px;
		height: 40%;
		width: 40%;
	}
	
	a.link-item_amarela-trsp_down{
		left: -80px;
		height: 40%;
		width: 58%;
	}
	
	#link-item_amarela-trsp3{
		margin-left: -160px;
	}
	
	#link-item_amarela-trsp4{
		margin-left: -160px;
	}
	
	.imgSeparador{
		margin-left: -1000%;
	}
	
	div#amarela div.acessoRapido{
		left: 44%;		
	}
	
	div#amarela-trsp{
		display: none;
	}
	
	img#imgAcessoRapido-super-movel{
		display:none;
	}
	
	div#amarela-trsp-super-movel{
		display: none;
	}
	
	/*Opções no meio da div Amarela Movel*/
	div#amarela-trsp-movel{
		position: relative;
		display: flex;
		height: 100%;
		width: 650px;
		left: 17%;
	}
	
	div#Cl1_amarela-trsp-movel{
		position: relative;
		height: 100%;
		width: 40%;	
	}
	
	div#Cl2_amarela-trsp-movel{
		position: relative;
		height: 100%;
	}
	
	a.link-item_amarela-trsp_up-movel{
		position: absolute;
		height: 40%;
		width: 40%;
		color: #ffffff;
		top: 220px;
		left: 5%;
		cursor: pointer;
	}
	
	a.link-item_amarela-trsp_up{
		top: 220px;
	}
	
	a.link-item_amarela-trsp_down-movel{
		position: absolute;
		height: 40%;
		width: 40%;
		color: #ffffff;
		bottom: 8%;
		left: 5%;
		cursor: pointer;
	}
	
	.h1, .h2, .h3, h1, h2, h3{
		margin-top:10px;
	}
	
	div#opcoes_muitoPVc{
		margin-left: 0px;
	}
	
	h1#h1MuitoPVc{
		left: 7%;
	}
	
	div#tv{
		position:absolute;
		margin-left: -120px;
	}
	
	div#dispositivos{
		margin-top: 300px;
		position:absolute;
		margin-left: -163px;
	}
	
	div#game{
		position:absolute;
		margin-left: 260px;
	}
	
	div#musicas{
		margin-top: 300px;
		position:absolute;
		margin-left: 200px;
	}
	
	h1#h1podLheAjud{
		left: 7%;
	}
		
	#image_duvidas1{
		margin-left: 11%;
		width: 35%;
	}
	
	#image_duvidas2{
		margin-left: 11%;
		width: 33%;
	}
	
	div#muitoPVc{
		height: 780px;
	}
	
	ol.carousel-indicators{
		margin-left: 83%;
	}
	
	#img_movel{
		display: none;
	}
	
	div#amarela div.acessoRapido-super-movel{
		display:none;	
	}
}

@media all and (min-width: 650px) and (max-width:799px) {
	
	h1.titulo_link-item_amarela-trsp{
		font-size:12pt;
	}
	
	p.conteudo_link-item_amarela-trsp{
		display: none;
	}
	
	a.link-item_amarela-trsp_up{
		left: 35px;
		height: 40%;
		width: 40%;
	}
	
	a.link-item_amarela-trsp_down{
		left: 260px;
		height: 40%;
		width: 58%;
		top: 10px;
	}
	
	#link-item_amarela-trsp3{
		margin-left: -40px;
	}
	
	#link-item_amarela-trsp4{
		margin-left: -35px;
	}
	
	.imgSeparador{
		display: none;
	}
	
	div#amarela div.acessoRapido{
		left: 22%;		
	}
	
	div#amarela-trsp{
		display: none;
	}
	
	div#amarela-trsp-super-movel{
		display: none;
	}
	
	img#imgAcessoRapido-super-movel{
		display:none;
	}
	
	/*Opções no meio da div Amarela Movel*/
	div#amarela-trsp-movel{
		position: relative;
		display: flex;
		height: 100%;
		width: 320px;
		left: 17%;
	}
	
	div#Cl1_amarela-trsp-movel{
		position: relative;
		height: 100%;
		width: 40%;	
	}
	
	div#Cl2_amarela-trsp-movel{
		position: relative;
		height: 100%;
	}
	
	a.link-item_amarela-trsp_up-movel{
		position: absolute;
		height: 40%;
		width: 40%;
		color: #ffffff;
		top: 220px;
		left: 5%;
		cursor: pointer;
	}
	
	a.link-item_amarela-trsp_up{
		top: 10px;
	}
	
	a.link-item_amarela-trsp_down-movel{
		position: absolute;
		height: 40%;
		width: 40%;
		color: #ffffff;
		bottom: 8%;
		left: 5%;
		cursor: pointer;
	}
	
	.h1, .h2, .h3, h1, h2, h3{
		margin-top:10px;
	}
	
	div#amarela{
		height: 760px;
	}
	
	div#opcoes_muitoPVc{
		margin-left: 0px;
	}
	
	h1#h1MuitoPVc{
		left: 7%;
	}
	
	div#tv{
		position:absolute;
		margin-left: -140px;
	}
	
	div#dispositivos{
		margin-top: 300px;
		position:absolute;
		margin-left: -172px;
	}
	
	div#game{
		position:absolute;
		margin-left: 160px;
	}
	
	div#musicas{
		margin-top: 300px;
		position:absolute;
		margin-left: 100px;
	}
	
	h1#h1podLheAjud{
		left: 7%;
	}
		
	#image_duvidas1{
		margin-left: 11%;
		width: 35%;
	}
	
	#image_duvidas2{
		margin-left: 11%;
		width: 33%;
	}
	
	div#muitoPVc{
		height: 780px;
	}
	
	ol.carousel-indicators{
		margin-left: 83%;
	}
	
	#img_movel{
		display: none;
	}
	
	div#amarela div.acessoRapido-super-movel{
		display:none;	
	}
}


@media all and (min-width: 550px) and (max-width:649px) {
	
	h1.titulo_link-item_amarela-trsp{
		font-size:12pt;
	}
	
	p.conteudo_link-item_amarela-trsp{
		display: none;
	}
	
	a.link-item_amarela-trsp_up{
		left: -30px;
		height: 40%;
		width: 40%;
	}
	
	a.link-item_amarela-trsp_down{
		left: 200px;
		height: 40%;
		width: 58%;
		top: 10px;
	}
		
	#link-item_amarela-trsp3{
		margin-left: -35px;
	}
	
	#link-item_amarela-trsp4{
		margin-left: -40px;
	}
	
	.imgSeparador{
		display: none;
	}
	
	div#amarela div.acessoRapido{
		left: 12%;		
	}
	
	div#amarela-trsp{
		display: none;
	}
	
	div#amarela-trsp-super-movel{
		display: none;
	}
	
	img#imgAcessoRapido-super-movel{
		display:none;
	}
	
	/*Opções no meio da div Amarela Movel*/
	div#amarela-trsp-movel{
		position: relative;
		display: flex;
		height: 100%;
		width: 320px;
		left: 17%;
	}
	
	div#Cl1_amarela-trsp-movel{
		position: relative;
		height: 100%;
		width: 40%;	
	}
	
	div#Cl2_amarela-trsp-movel{
		position: relative;
		height: 100%;
	}
	
	a.link-item_amarela-trsp_up-movel{
		position: absolute;
		height: 40%;
		width: 40%;
		color: #ffffff;
		top: 220px;
		left: 5%;
		cursor: pointer;
	}
	
	a.link-item_amarela-trsp_up{
		top: 10px;
	}
	
	a.link-item_amarela-trsp_down-movel{
		position: absolute;
		height: 40%;
		width: 40%;
		color: #ffffff;
		bottom: 8%;
		left: 5%;
		cursor: pointer;
	}
	
	.h1, .h2, .h3, h1, h2, h3{
		margin-top:10px;
	}
	
	div#amarela{
		height: 760px;
	}
	
	div#opcoes_muitoPVc{
		margin-left: 0px;
	}
	
	h1#h1MuitoPVc{
		left: 7%;
	}
	
	div#tv{
		position:absolute;
		margin-left: -160px;
	}
	
	div#dispositivos{
		margin-top: 300px;
		position:absolute;
		margin-left: -192px;
	}
	
	div#game{
		position:absolute;
		margin-left: 98px;
	}
	
	div#musicas{
		margin-top: 300px;
		position:absolute;
		margin-left: 60px;
	}
	
	div#podLheAjud{
		height: 750px;
	}
	
	h1#h1podLheAjud{
		left: 7%;
	}
		
	#image_duvidas1{
		margin-left: 18%;
		margin-top: 12%;
		width: 350px;
	}
	
	#image_duvidas2{
		margin-left: 18%;
		margin-top: 12%;
		width: 350px;
	}
	
	div#muitoPVc{
		height: 780px;
	}
	
	#img_full{
		display: none;
	}
	
	div#amarela div.acessoRapido-super-movel{
		display:none;	
	}
}

@media all and (min-width: 460px) and (max-width:549px) {
	
	h1.titulo_link-item_amarela-trsp{
		font-size:9.5pt;
	}
	
	p.conteudo_link-item_amarela-trsp{
		display: none;
	}
	
	a.link-item_amarela-trsp_up{
		left: -50px;
		height: 40%;
		width: 40%;
	}
	
	a.link-item_amarela-trsp_down{
		left: 250px;
		height: 40%;
		width: 32%;
		top: 10px;
	}
		
	#link-item_amarela-trsp3{
		margin-left: -50px;
	}
	
	#link-item_amarela-trsp4{
		margin-left: -240px;
	}
	
	.imgSeparador{
		display: none;
	}
	
	div#amarela div.acessoRapido{
		left: 6%;
		width: 395px;	
	}
	
	div#amarela-trsp{
		display: none;
	}
	
	div#amarela-trsp-movel{
		display: none;
	}
	
	img#imgAcessoRapido{
   		display:none;
	}
	
	img#imgAcessoRapido-super-movel{
		position: absolute;
		right: -1px;
		top: 20px;
	}
	
	/*Opções no meio da div Amarela Movel*/
	div#amarela-trsp-super-movel{
		position: relative;
		display: flex;
		height: 100%;
		width: 650px;
		left: 17%;
	}
	
	div#Cl1_amarela-trsp-super-movel{
		position: relative;
		height: 100%;
		width: 40%;	
	}
	
	div#Cl2_amarela-trsp-super-movel{
		position: relative;
		height: 100%;
	}
	
	a.link-item_amarela-trsp_up-super-movel{
		position: absolute;
		height: 40%;
		width: 40%;
		color: #ffffff;
		top: 220px;
		left: 5%;
		cursor: pointer;
	}
	
	a.link-item_amarela-trsp_down-super-movel{
		position: absolute;
		height: 40%;
		width: 40%;
		color: #ffffff;
		bottom: 8%;
		left: 5%;
		cursor: pointer;
	}
	
	/*Opções no meio da div Amarela Movel*/
	div#amarela-trsp-super-movel{
		position: relative;
		display: flex;
		height: 100%;
		width: 320px;
		margin-left: 5%;
	}
	
	div#Cl1_amarela-trsp-super-movel{
		position: relative;
		height: 100%;
		width: 40%;	
	}
	
	div#Cl2_amarela-trsp-super-movel{
		position: relative;
		height: 100%;
	}
		
	a.link-item_amarela-trsp_up{
		top: 10px;
	}
		
	.h1, .h2, .h3, h1, h2, h3{
		margin-top:10px;
	}
	
	div#amarela{
		height: 760px;
	}
	
	div#amarela div.acessoRapido div.botoes{
		width: 390px;
	}
	
	img#imgAcessoRapido-super-movel{
		width: 106%;
	}
	
	div#opcoes_muitoPVc{
		margin-left: 0px;
	}
	
	h1#h1MuitoPVc{
		left: 7%;
	}
	
	div#tv{
		position:absolute;
		margin-left: -158px;
	}
	
	div#dispositivos{
		margin-top: 300px;
		position:absolute;
		margin-left: -172px;
	}
	
	div#game{
		position:absolute;
		margin-left: 56px;
	}
	
	div#musicas{
		margin-top: 300px;
		position:absolute;
		margin-left: 24px;
	}
	
	div#podLheAjud{
		height: 750px;
	}
	
	h1#h1podLheAjud{
		left: 7%;
	}
		
	#image_duvidas1{
		margin-left: 11%;
		margin-top: 12%;
		width: 350px;
	}
	
	#image_duvidas2{
		margin-left: 11%;
		margin-top: 12%;
		width: 350px;
	}
	
	div#muitoPVc{
		height: 780px;
	}
	
	div#musicas img{
		margin-top: 3px;
	}
	
	#img_full{
		display: none;
	}
	
	div#amarela div.acessoRapido-super-movel{
		display:none;	
	}
}

@media all and (min-width: 383px) and (max-width:459px) {
	
	h1.titulo_link-item_amarela-trsp{
		font-size:9.5pt;
	}
	
	p.conteudo_link-item_amarela-trsp{
		display: none;
	}
	
	a.link-item_amarela-trsp_up{
		left: 42px;
		height: 40%;
		width: 40%;
		margin-top: 10px;
	}
	
	a.link-item_amarela-trsp_down{
		left: 42px;
		height: 40%;
		width: 32%;
		top: 120px;
	}
	
	#link-item_amarela-trsp3{
		margin-left: -50px;
	}
	
	#link-item_amarela-trsp4{
		margin-left: -50px;
	}
	
	.imgSeparador{
		display: none;
	}
	
	div#amarela div.acessoRapido{
		left: 6%;
		width: 315px;	
		margin-top: -500px;
	}
	
	div#amarela-trsp{
		display: none;
	}
	
	div#amarela-trsp-movel{
		display: none;
	}
	
	img#imgAcessoRapido{
   		display:none;
	}
	
	img#imgAcessoRapido-super-movel{
		position: absolute;
		right: 0px;
		top: 20px;
		width: 105%;
		
	}
	
	/*Opções no meio da div Amarela Movel*/
	div#amarela-trsp-super-movel{
		position: relative;
		display: flex;
		height: 100%;
		width: 650px;
		left: 17%;
	}
	
	div#Cl1_amarela-trsp-super-movel{
		position: relative;
		height: 100%;
		width: 40%;	
	}
	
	div#Cl2_amarela-trsp-super-movel{
		position: relative;
		height: 100%;
	}
	
	a.link-item_amarela-trsp_up-super-movel{
		position: absolute;
		height: 40%;
		width: 40%;
		color: #ffffff;
		top: 220px;
		left: 5%;
		cursor: pointer;
	}
	
	a.link-item_amarela-trsp_down-super-movel{
		position: absolute;
		height: 40%;
		width: 40%;
		color: #ffffff;
		bottom: 8%;
		left: 5%;
		cursor: pointer;
	}
	
	/*Opções no meio da div Amarela Movel*/
	div#amarela-trsp-super-movel{
		position: relative;
		display: flex;
		height: 100%;
		width: 320px;
		left: 20%;
	}
	
	div#Cl1_amarela-trsp-super-movel{
		position: relative;
		height: 100%;
		width: 40%;	
	}
	
	div#Cl2_amarela-trsp-super-movel{
		position: relative;
		height: 100%;
	}
		
	a.link-item_amarela-trsp_up{
		top: 10px;
	}
		
	.h1, .h2, .h3, h1, h2, h3{
		margin-top:10px;
	}
	
	div#amarela{
		height: 550px;
	}
	
	div#amarela div.acessoRapido{
		display: none;
	}
	
	/*Acesso Rapido*/
	div#amarela div.acessoRapido-super-movel{
		position: relative;
		display: table;
		margin-left: 16.5%;
		background: #808080 url("../Images/fundoGrid-super-movel.gif") no-repeat scroll 0% 100%;
		height: 10%;
		z-index: 10000;
		bottom: 315px;
	}
	
	div#amarela div.acessoRapido div.botoes a.botao h3{
		width: 120px;
	}

	
	img#imgAcessoRapido-super-movel{
		position: absolute;
		right: 0px;
		top: 20px;
	}
	
	/*Botões*/
	div#amarela div.acessoRapido-super-movel div.botoes{
		position: relative;
		display: flex;
		margin-left: 25px;
		margin-top: 95px;
		width: 240px;
		height: 200px;
	}
	
	div#amarela div.acessoRapido-super-movel div.botoes a.botao{
		display: inline-block;
		border: none;
		border-radius: 5px;
		margin: 5px;
		background: linear-gradient(to bottom, #f2f2f2, #d1d3d1 180%) #ffffff;
		width: 170px;
		height: 150px;
	}
	
	div#amarela div.acessoRapido-super-movel div.botoes a.botao:link{
		text-decoration: none;
		color: inherit;
	}
	
	div#coluna1{
		width: 177px;
		height: 477px!important;
		margin-left: 20px;
	}
		
	img.botoes_icon{
		position: relative;
		left: 39%;
		top: 18px;
	}
	
	div#amarela div.acessoRapido-super-movel div.botoes a.botao h3{
		position: relative;
		font-family: Arial, sans-serif;
		font-size: 13pt;
		font-weight: lighter;
	}
	
	/*textos acesso rapido*/
	h3#txt1{
		top: 15%;
		left: 29%;
	}
	
	h3#txt1 span{
		position: absolute;
		left: 8%;
	}
	
	h3#txt2{
		top: 28%;
		left: 25%;
	}
	
	h3#txt2 span{
		position: absolute;
		left: 12%;
	}
	
	h3#txt3{
		top: 22%;
		left: 32%;
	}
	
	h3#txt3 span{
		position: relative;
		left: 1%;
	}
	
	h3#txt4{
		left: 17%;
		top: 12%;
	}
	
	h3#txt4 span{
		position: absolute;
		left: 7%;
	}
	
	h3#txt5{
		left: 27%;
		top: 14%;
	}
	
	h3#txt5 span{
		position: absolute;
		left: 9%;
	}
	
	h3#txt6{
		left: 18%;
		top: 18%;
	}
	
	h3#txt6 span{
		position: absolute;
		left: 7%;
	}
	
	ol.carousel-indicators{
		margin-left: 35%;
	}
	
	/*textos acesso rapido*/
	h3#txt1{
		top: 15%;
		left: 32%;
	}
	
	h3#txt1 span{
		position: absolute;
		left: 0%;
	}
		
	ol.carousel-indicators{
		left: 35%;
	}
	
	div#opcoes_muitoPVc{
		margin-left: 0px;
	}
	
	h1#h1MuitoPVc{
		left: 7%;
	}
		
	div#tv{
		position:absolute;
		margin-top: 0;
		margin-left: -50px;
	}
	
	div#dispositivos{
		margin-top: 270px;
		position:absolute;
		margin-left: -70px;
	}
	
	div#game{
		position:absolute;
		margin-left: -58px;
		margin-top: 570px;
	}
	
	div#musicas{
		margin-top: 830px;
		position:absolute;
		margin-left: -78px;
	}
	
	div#podLheAjud{
		height: 750px;
	}
	
	h1#h1podLheAjud{
		left: 7%;
	}
		
	#image_duvidas1{
		margin-left: 10%;
		margin-top: 12%;
		width: 350px;
	}
	
	#image_duvidas2{
		margin-left: 10%;
		margin-top: 12%;
		width: 350px;
	}
	
	div#muitoPVc{
		height: 1380px;
	}
	
	div#musicas img{
		margin-top: 3px;
	}
	
	#img_full{
		display: none;
	}
}

@media all and (min-width: 0px) and (max-width:382px) {
	
	h1.titulo_link-item_amarela-trsp{
		font-size:9.5pt;
	}
	
	p.conteudo_link-item_amarela-trsp{
		display: none;
	}
	
	a.link-item_amarela-trsp_up{
		left: 70px;
		height: 40%;
		width: 40%;
		margin-top: 10px;
	}
	
	a.link-item_amarela-trsp_down{
		left: 70px;
		height: 40%;
		width: 32%;
		top: 120px;
	}
	
	#link-item_amarela-trsp3{
		margin-left: -40px;
	}
	
	#link-item_amarela-trsp4{
		margin-left: -40px;
	}
	
	.imgSeparador{
		display: none;
	}
	
	div#amarela div.acessoRapido{
		left: 6%;
		width: 280px;	
		margin-top: -500px;
	}
	
	div#amarela-trsp{
		display: none;
	}
	
	div#amarela-trsp-movel{
		display: none;
	}
	
	img#imgAcessoRapido{
   		display:none;
	}
	
	img#imgAcessoRapido-super-movel{
		position: absolute;
		right: 0px;
		top: 20px;
		width: 105.5%;
		
	}
	
	/*Opções no meio da div Amarela Movel*/
	div#amarela-trsp-super-movel{
		position: relative;
		display: flex;
		height: 100%;
		width: 650px;
		left: 17%;
	}
	
	div#Cl1_amarela-trsp-super-movel{
		position: relative;
		height: 100%;
		width: 40%;	
	}
	
	div#Cl2_amarela-trsp-super-movel{
		position: relative;
		height: 100%;
	}
	
	a.link-item_amarela-trsp_up-super-movel{
		position: absolute;
		height: 40%;
		width: 40%;
		color: #ffffff;
		top: 220px;
		left: 11%;
		cursor: pointer;
	}
	
	a.link-item_amarela-trsp_down-super-movel{
		position: absolute;
		height: 40%;
		width: 40%;
		color: #ffffff;
		bottom: 8%;
		left: 5%;
		cursor: pointer;
	}
	
	/*Opções no meio da div Amarela Movel*/
	div#amarela-trsp-super-movel{
		position: relative;
		display: flex;
		height: 100%;
		width: 290px;
		left: 11%;
	}
	
	div#Cl1_amarela-trsp-super-movel{
		position: relative;
		height: 100%;
		width: 40%;	
	}
	
	a.link-item_amarela-trsp_up{
		top: 10px;
	}
		
	.h1, .h2, .h3, h1, h2, h3{
		margin-top:10px;
	}
	
	div#amarela{
		height: 550px;
	}
	
	div#coluna1{
		width: 177px;
		height: 477px!important;
		margin-left: 6.5%;
	}
	
	div#coluna2{
		width: 177px;
		height: 477px !important;
		margin-left: -70%;
		margin-top: 487px;
	}
	
	div#amarela div.acessoRapido div.botoes{
		position: relative;
		display: flex;
		margin-left: 25px;
		margin-top: 95px;
		width: 250px;
		height: 0px;
	}
		
	div#opcoes_muitoPVc{
		margin-left: 0px;
	}
	
	div#tv{
		position:absolute;
		margin-top: 0;
		margin-left: -50px;
	}
	
	div#dispositivos{
		margin-top: 270px;
		position:absolute;
		margin-left: -70px;
	}
	
	div#game{
		position:absolute;
		margin-left: -58px;
		margin-top: 570px;
	}
	
	div#musicas{
		margin-top: 830px;
		position:absolute;
		margin-left: -78px;
	}
	
	div#podLheAjud{
		height: 650px;
	}
	
	h1#h1podLheAjud{
		margin-left: -17%;
		font-size: 20px;
	}
		
	h1#h1MuitoPVc{
		margin-left: -17%;
		font-size: 20px;
	}
		
	#image_duvidas1{
		margin-left: 12%;
		margin-top: 23%;
		width: 280px;
	}
	
	#image_duvidas2{
		margin-left: 12%;
		margin-top: 20%;
		width: 280px;
	}
	
	div#muitoPVc{
		height: 1380px;
	}
	
	div#musicas img{
		margin-top: 3px;
	}
	
	#img_full{
		display: none;
	}
	
	div#amarela div.acessoRapido{
		display: none;
	}
	
	
	/*Acesso Rapido*/
	div#amarela div.acessoRapido-super-movel{
		position: relative;
		display: table;
		margin-left: 14%;
		background: #808080 url("../Images/fundoGrid-super-movel.gif") no-repeat scroll 0% 100%;
		height: 10%;
		z-index: 10000;
		bottom: 315px;
	}
	
	div#amarela div.acessoRapido div.botoes a.botao h3{
		width: 120px;
	}

	
	img#imgAcessoRapido-super-movel{
		position: absolute;
		right: 0px;
		top: 20px;
	}
	
	/*Botões*/
	div#amarela div.acessoRapido-super-movel div.botoes{
		position: relative;
		display: flex;
		margin-left: 25px;
		margin-top: 95px;
		width: 240px;
		height: 200px;
	}
	
	div#amarela div.acessoRapido-super-movel div.botoes a.botao{
		display: inline-block;
		border: none;
		border-radius: 5px;
		margin: 5px;
		background: linear-gradient(to bottom, #f2f2f2, #d1d3d1 180%) #ffffff;
		width: 170px;
		height: 150px;
	}
	
	div#amarela div.acessoRapido-super-movel div.botoes a.botao:link{
		text-decoration: none;
		color: inherit;
	}
	
	div#coluna1{
		width: 177px;
		height: 477px!important;
	}
		
	img.botoes_icon{
		position: relative;
		left: 39%;
		top: 18px;
	}
	
	div#amarela div.acessoRapido-super-movel div.botoes a.botao h3{
		position: relative;
		font-family: Arial, sans-serif;
		font-size: 13pt;
		font-weight: lighter;
	}
	
	/*textos acesso rapido*/
	h3#txt1{
		top: 15%;
		left: 32%;
	}
	
	h3#txt1 span{
		position: absolute;
		left: 0%;
	}
	
	h3#txt2{
		top: 28%;
		left: 25%;
	}
	
	h3#txt2 span{
		position: absolute;
		left: 12%;
	}
	
	h3#txt3{
		top: 22%;
		left: 32%;
	}
	
	h3#txt3 span{
		position: relative;
		left: 1%;
	}
	
	h3#txt4{
		left: 17%;
		top: 12%;
	}
	
	h3#txt4 span{
		position: absolute;
		left: 7%;
	}
	
	h3#txt5{
		left: 27%;
		top: 14%;
	}
	
	h3#txt5 span{
		position: absolute;
		left: 9%;
	}
	
	h3#txt6{
		left: 18%;
		top: 18%;
	}
	
	h3#txt6 span{
		position: absolute;
		left: 7%;
	}
	
	ol.carousel-indicators{
		margin-left: 67%;
	}

}