*{
    margin: 0;
    padding: 0;
}


/*
    div amarela
    casso for adicionar elementos aumente o height da div#amarela
*/
div#amarela{
    width: 100%;
    background-color: #d8a91e;
    height: 643px;
}

/*Opções no meio da div Amarela*/
div#amarela-trsp{
    position: relative;
    /*border: 3px solid red;*/
    display: flex;
    height: 100%;
    width: 650px;
    left: 20%;
}
div#Cl1_amarela-trsp{
    position: relative;
    height: 100%;
    width: 45%;
    /*border: 2px solid green;*/

}
div#Cl2_amarela-trsp{
    position: relative;
    height: 100%;
    width: 50%;
    /*border: 2px solid green;*/
}
div#amarela-trsp div#separador{
    height: 100%;
    width: 5%;
    /*border: 2px solid deeppink;*/
}
a.link-item_amarela-trsp_up{
    position: absolute;
    height: 40%;
    width: 80%;
    /*border: 1px solid blue;*/
    color: #ffffff;
    top: 8%;
    left: 5%;
    cursor: pointer;
}
a.link-item_amarela-trsp_down{
    position: absolute;
    height: 40%;
    width: 90%;
    /*border: 1px solid blue;*/
    color: #ffffff;
    bottom: 8%;
    left: 5%;
    cursor: pointer;
}
h1.titulo_link-item_amarela-trsp{
    font-family: Arial, sans-serif;
    font-size: 18pt;
    font-weight: normal;
}
p.conteudo_link-item_amarela-trsp{
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: lighter;
}

/*Acesso Rapido*/
div#amarela div.acessoRapido{
    position: relative;
    display: table;
    left: 55%;
    height: 587px;
    width: 417px;
    background: no-repeat gray url("../Images/fundoGrid.gif");
    z-index: 10000;
    bottom: 625px;
}
img#imgAcessoRapido{
    position: absolute;
    right: -3px;
    top: 20px;
}
/*Botões*/
div#amarela div.acessoRapido div.botoes{
    position: relative;
    display: flex;
    margin-left: 25px;
    margin-top: 95px;
    width: 370px;
    height: 480px;
}
div#amarela div.acessoRapido div.botoes a.botao{
    display: inline-block;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background: linear-gradient(to bottom, #f2f2f2, #d1d3d1 180%) #ffffff;
    width: 170px;
    height: 150px;
}
div#amarela div.acessoRapido div.botoes a.botao:link{
    text-decoration: none;
    color: inherit;
}
div#coluna1{
    width: 177px;
    height: 477px!important;
}
div#coluna2{
    width: 177px;
    height: 477px !important;
    margin-left: 5px;
}
img.botoes_icon{
    position: relative;
    left: 39%;
    top: 18px;
}
div#amarela div.acessoRapido div.botoes a.botao h3{
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 13pt;
    font-weight: lighter;
}
/*textos acesso rapido*/
h3#txt1{
    top: 15%;
    left: 29%;
}
h3#txt1 span{
    position: absolute;
    left: 8%;
}

h3#txt2{
    top: 28%;
    left: 25%;
}
h3#txt2 span{
    position: absolute;
    left: 12%;
}

h3#txt3{
    top: 22%;
    left: 32%;
}
h3#txt3 span{
    position: relative;
    left: 1%;
}

h3#txt4{
    left: 17%;
    top: 12%;
}
h3#txt4 span{
    position: absolute;
    left: 7%;
}

h3#txt5{
    left: 27%;
    top: 14%;
}
h3#txt5 span{
    position: absolute;
    left: 9%;
}

h3#txt6{
    left: 18%;
    top: 18%;
}
h3#txt6 span{
    position: absolute;
    left: 7%;
}


/*Muito Mais Para Você*/
div#muitoPVc{
    position: relative;
    height: 500px;
    width: 100%;
    border: 1px solid #000000;
    background: #ffffff url("../Images/fundoGridAzul.png") repeat-x;
}
h1#h1MuitoPVc{
    position: relative;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 18pt;
    font-weight: normal;
    color: #ffffff;
    top: 5%;
    left: 20%;
    margin: 0;
    width: 298px;
}
div#opcoes_muitoPVc{
    margin: 0;
    position: relative;
    display: flex;
    top: 12%;
    width: 100%;
    height: 77%;
	margin-left: -150px;
}
div#tv{
    position: relative;
    width: 260px;
    left: 28%;
    text-align: center;
}
div#tv img{
    position: initial;
    left: 26%;
}

div#game{
    position: relative;
    width: 260px;
    left: 30%;
    text-align: center;
}
div#game img{
    position: initial;
    left: 16%;
}

div#dispositivos{
    position: relative;
    width: 260px;
    left: 32%;
    text-align: center;
}
div#dispositivos img{
    position: initial;
    left: 16%;
}

div#musicas{
    position: relative;
    width: 260px;
    left: 36%;
    text-align: center;
}
div#musicas img{
    position: initial;
    left: 15%;
}
