
h2, h5.contato{
    color: #fff;
    text-align: center;
}

img#bg-baixo{
    width: 100%;
    height: 300px;
}

.boxInformacao{
    display: block;
    margin: -240px auto 120px;
    position: relative;
    float: none;
    background-color: #00235C;
    border-radius: 5px;
    height: auto;
}

div#informacao{
    padding: 20px;
    width: 100% ;
}

p.contato{
    color: #fff;
    text-align: center;
    font-size: 13px;
}

@media all and (max-width: 1873px){
    .boxInformacao{
        margin: -250px auto 120px;
    }
}

@media all and (max-width: 1200px){
    div.boxInformacao{
        width: 33.33%;
    }
}

@media all and (max-width: 1181px){
    div.boxInformacao{
        width: 45%;
    }

}

@media all and (max-width: 989px) {
    div.boxInformacao{
        width: 50%;
    }
}

@media all and (max-width: 767px) {
    div.boxInformacao{
        width: 60%;
    }
}


@media all and (max-width: 641px) {
    div.boxInformacao {
        width: 70%;
    }
}

@media all and (max-width: 550px) {
    div.boxInformacao {
        width: 90%;
    }
}

@media all and (max-width: 525px) {
    div.boxInformacao {
        width: 100%;
    }
}

@media all and (max-width: 387px) {
    div.boxInformacao{
        margin: -260px auto 120px;
    }

    h5.contato{
        font-size: 12px;
    }
}