@charset "utf-8";
div.container{
	width:100%;
	height:100px;
	margin:0;
	padding:0;
}

ol#car-img{
	width:50%;
	left:85.2%;
}

ol.carousel-indicators li{
	width:15px;
	height:15px;
	background-color: #ffb900;
	border: 4px solid #ffb900;
	margin-left: 3px;
}

ol#car-img li.active{
    width:17px;
	height:17px;
    margin: 0px auto;
    cursor: pointer;
	margin-left: 3px;
}
.pager div{
     display: block;
     width: 24px;
     height: 24px;
     background-color: #f3a700;
     border-radius: 100%;
     -moz-border-radius: 100%;
     -webkit-border-radius: 100%;
     float: left;
     margin: 0 2px;
     cursor: pointer;
 }
.pager div.ativo a{
    display: block;
}