#mini-demo {
    display: block;
    position: relative;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 600px;
    height: 360px;

}

@media all and (max-width: 630px) {
    #mini-demo {
        width: 500px;
        height: 260px;
    }
}

@media all and (max-width: 500px) {
    #mini-demo {
        width: 400px;
        height: 160px;
    }
}

@media all and (max-width: 380px) {
    #mini-demo {
        width: auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}